@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --main-bg-color: #000000;
    --color-primario-700: #F51928;
    --main-text-color: #FFFFFF;
    --secondary-bg-color: #bbbbbb;
    --secondary-text-color: #424242;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--color-primario-700);
}

.content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 0 20px;
}

body{
    background-color: var(--secondary-bg-color);
}

ul, ol{
    list-style: none;
}

.header{
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    padding: 0 20px;
    align-items: center;
}

.header__logo-container{
    width: 150px;  
    height: auto;
}

.header .header__nav-list{
    display: flex;
    padding: 0 10px;
    gap: 20px;  
}

span{
    color: var(--main-text-color);
}

.header__nav-item{
    display: flex;
    align-items: center;
    font-weight: 400;
}

.header__icon-block{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.vertical-line{
    height: 18px;
    border-left: 1px solid var(--secondary-text-color);
}

.btn-secondary{
    border: none;
    background-color: var(--main-bg-color);
    padding: 10px;
    font-size: 18px;
    color: var(--main-text-color);
}

.btn-secondary i{
    color: inherit;
}

.profile_icon{
    color: var(--primary-text-color);
}

.profile_icon svg, .profile_icon path {
    fill: currentColor;
}

.header__logo-container-asus{
    display: flex;
    width: auto;  
    height: auto;
}

.profile_icon svg path{
    fill: var(--main-text-color);
}